{% extends "layout.html" %}

{% block content %}
    <!-- Tu contenido específico va aquí -->
    <h1>Bienvenido a Wannapop</h1>
    <p>Esta es la página principal de tu aplicación.</p>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    {% if current_user.is_authenticated %}
        <p>¡Has iniciado sesión con éxito!</p>
    {% else %}
        <p>Por favor, inicia sesión para acceder a más funciones.</p>
    {% endif %}
{% endblock %}
