<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallapop</title>
    <!-- Agrega enlaces a tus hojas de estilo de Tailwind CSS y otros archivos CSS aquí -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 font-sans">

    <header class="bg-green-500 p-4">
        <div class="container mx-auto">
            <h1 class="text-2xl text-white">Wallapop</h1>
        </div>
    </header>

    <main class="container mx-auto mt-4">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="bg-gray-300 p-4 mt-4">
        <div class="container mx-auto">
            <p class="text-center text-gray-600">&copy; 2023 Wallapop. Todos los derechos reservados.</p>
        </div>
    </footer>

</body>
</html>
