{% extends '_template.html' %}
{% block content %}

<div class="mt-8">
    <h2 class="mb-4">Productes</h2>
    
    <a href="/products/create" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 transition duration-300 rounded mb-4">Crear un nou producte</a>

    <table>
        <tr>
            <th>ID</th>
            <th>NOM</th>
            <th>PREU</th>
            <th>CATEGORIA</th>
        </tr>

        {% for (product, category) in products_with_category %}
        <tr>
            <td><a href="/products/read/{{ product.id }}">{{ product.id }}</a></td>
            <td><a href="/products/read/{{ product.id }}">{{ product.title }}</a></td>
            <td><a href="/products/read/{{ product.id }}">{{ product.price }}</a></td>
            <td><a href="/products/read/{{ product.id }}">{{ category.name }}</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
